body {
    font-size: 12px;
    font-family: sans-serif, Tahoma, Arial;
    padding: 0;
    margin: 0;

}
.container {
    width: 1180px;
    margin: auto;

}
/*section text 2*/
#section_text_2{
    height: 120px;
    background-color: #f3f3f3;
}
#section_text_2 .alpha{
    float: left;
    margin-top: 35px;
}
#section_text_2 .omega{
    float: right;
}
#section_text_2 .omega a {
    text-decoration: none;
    margin-top: 28px;
    display: flex;
}
#section_text_2 .omega a span {
    padding: 20px;
    background-color: #f77825;

}
#section_text_2 .omega a:hover{
    cursor: pointer;
}
/*section header 1*/
#section_header_1{
    height: 50px;
    margin-top: 25px;

}
#section_header_1 .navbar-header{
    display: none;
}
#section_header_1 .right_socials{
    float: right;
    font-size: 150%;
    padding-right: 15px;
}
#section_header_1 .right_socials ul{
    display: flex;

}
#section_header_1 .right_socials ul li{
    padding-right: 25px;
}
#section_header_1 ul li{
    list-style-type: none;
    color: #837f7f;

}
#section_header_1 .navbar-left {
    float: left;
    display: flex;


}

#section_header_1 .navbar-left .propClone a{
    text-decoration: none;
    color: black;
    padding-right:30px;
    font-size: 120%;
    color: #837f7f;
}


#section_slider  {
    background: #f3f3f3;
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
}
#section_slider .container{
    padding: 60px 0;
}

.carousel-indicators {
    position: absolute;
    top: 60px;
    right: 230px;
    z-index: 15;
}
.carousel-indicators li {
    display: inline-block;
    list-style-type: none;
    background-color: slategray;
    border: 1px solid dimgray;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    opacity: 0.5;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: white;
    opacity: 1;
}

#section_slider .carousel-inner {
    position: relative;
    width: 100%;
    transition: transform 0.5s ease;
}

.item {
    display: none;
    position: relative;
    background: black;
    height: 375px;
    width: 1100px;
    border-radius: 10px;
}
.item.active {
    display: block;
}

.item img {
    height: 375px;
    width: 1100px;
    opacity: 0.7;
}

.carousel-caption {
    padding: 10px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-caption.active {
    opacity: 1;
}

.carousel-caption h3 {
    font-size: 26px;
    margin-bottom: -7px;
}

.carousel-caption p {
    font-size: 15px;
    margin-bottom: 10px;
}

.carousel-control {
    position: absolute;
    top: 55%;
    width: 30px;
    height: 30px;
    margin-top: -53px;
    font-size: 20px;
    color: #F5F5F5;
    text-align: center;
    border-radius: 50%;
    border: solid #F5F5F5 4px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 0.5;
}
#section_slider .carousel-control:hover {
    background-color: dimgray;
}

.carousel-control:hover {
    opacity: 1;
}

.carousel-control.left {
    left: 230px;
}

.carousel-control.right {
    right: 230px;
}

.fui-arrow-left:before {
    content: "\3C";
}

.fui-arrow-right:before {
    content: "\3E";
    font-weight: bold;

}
.fui-arrow-left,.fui-arrow-right {
    text-decoration: none;
    font-weight: bold;
}

#section_gym_4 {
    height: 430px;
    background-color: white;
}
#section_gym_4 .container{
    padding-top: 67px;
}
#section_gym_4 .top_padding{
    margin-left: -30px;
}
#section_gym_4 .top_padding .column{
    text-align: center;
    display: inline-block;
    justify-content: center;
    justify-items: center;
}
.part_st{
    box-sizing: border-box;
    height: 300px;
    width:280px;
    margin-left: 80px;
}
.part_st img{
    border-radius: 100%;
}
.gym_st .editContent{
    font-size: 20px;
    font-weight: bold;
}
.gym_text{
    padding-bottom: 10px;
    font-weight: 300;
    color: lightgray;
    font-size: 16px;
}

.link_3_btn{
    text-decoration: none;
    font-weight: lighter;
    font-size: small;
    color: #ffffff;
    text-align: center;
    background-color: #f77825;
    padding: 10px 20px;
    border-radius: 3px;
}

.link_3_btn .slow_fade {
    color: #Ffffff;
    list-style-type: none;
    text-decoration: none;
}


#section_intro_title{
    background: #f3f3f3 ;
    height: 440px;
}
#section_intro_title .container{
    padding-top: 13px;
    display: flex;
    padding-left: 17px;
}
#section_intro_title .one-third.column{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 50px;
    text-align: center;
    justify-content: center;
    height: 330px;
    width: 230px;
    border: 3px solid gainsboro;
}
#section_intro_title .one-third.column .pix_text ,.active_bg_open{
    list-style-type: none;
    text-decoration: none;
}
#section_intro_title .one-third.column .orange{
    margin-top: 0px;
    color: #f77825;
    font-size: 35px;
    margin-bottom: -5px;
}
#section_intro_title .one-third.column .blue_text{
    margin-top: 0px;
    font-size: 35px;
    color: #2dc0e8;
    margin-bottom: -5px;
}
#section_intro_title .one-third.column .light_gray ,.pix_text{
    padding: 13px 0;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: darkgray;
}
#section_intro_title .one-third.column .blue_bg{
    padding: 15px 20px;
    border-radius: 3px;
    background-color: #2dc0e8;
}
#section_intro_title .one-third.column .blue_bg span{
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
}
#section_intro_title .one-third.column .orange_bg{
    padding: 15px 20px;
    border-radius: 3px;
    background-color: #f77825;
}
#section_intro_title .one-third.column .orange_bg span{
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
}


#section_party_3{
    background-color: #191919;
    height: 500px;
}
#section_party_3 .container{
    padding: 50px 0;
}
#section_party_3 .columns{
    margin: 0px 360px;
    justify-content: center;
    text-align: center;
    height: 390px;
    width: 370px;
    border: 3px solid #202020;
    background-color: #151515;
}
.headtext_style{
    padding: 35px 0;
}
.headtext_style .pix_text{
    font-size: 25px;
    color: #ffffff ;
}
.segment.pix_builder_bg{
    margin: -15px 150px;
    height: 5px;
    width: 70px;
    background-color:#2b83ec ;
}
.subtext_style{
    font-size: 15px;
    color: darkgray;
    padding-top: 15px;
    margin: 20px 50px 32px;
}
.contact_st #contact_form {
    display: inline-block;
    vertical-align: middle;
}
.contact_st input{
    text-align: left;
    border:  #151515 solid 1px;
    border-radius: 3px;
    height: 20px;
    width: 340px;
    margin-bottom: 20px;
}
.contact_st button{
    color: #ffffff;
    border:  #151515 solid 1px;
    border-radius: 3px;
    height: 50px;
    width: 340px;
    background-color: #2b83ec;

}

#section_party_4{
    background-color: #151515;
    height: 50px;
}
#section_party_4 .alpha{
    color: #f3f3f3;
    padding: 20px;
    float: left;
}
#section_party_4 .omega{
    float: right;
}

#section_party_4 .rights_st{
    color: #938d86;
}
.pixfort_st{
    color: #2b83ec;
    font-size: small;
    font-weight: bold;
}
#section_party_4 .omega .likes_st{
    padding-top: 20px;
    float: left;
}
#section_party_4 .omega .likes_st .pix_text{
    color: #938d86;
}
#section_party_4 .omega .soc_icons.pix_builder_bg{
    list-style-type: none;
    float: right;
    width: auto;
    font-size: 150%;
    padding-bottom: 5px;
    padding-left: -10px ;
}
#section_party_4 .omega .soc_icons.pix_builder_bg li{
    padding-right: 15px;
    display: inline-block;
    list-style-type: none;
}
#section_party_4 .soc_icons.pix_builder_bg li i{
    color: #938d86;
}
